<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
</head>
<body>
<h1>user</h1>
<button onclick="addUser()">add</button>
<button onclick="deleteUser()">delete</button>
<button onclick="changeUser()">change</button>

<h1>article</h1>
<button onclick="addArticle()">add2</button>
<button onclick="queryArticle()">query</button>
<button onclick="changeArticle()">change</button>
<button onclick="deleteArticle()">delete</button>

<h1>comment</h1>
<button onclick="addComment()">add2</button>
<button onclick="queryComment()">query</button>
<button onclick="changeComment()">change2</button>
<button onclick="deleteComment()">delete</button>

<h1>draft</h1>

<button onclick="addDraft()">add2</button>
<button onclick="queryDraft()">query</button>
<button onclick="changeDraft()">change</button>
<button onclick="deleteDraft()">delete</button>


<script>
    function addUser() {
        $.post('/api/user', {
            "name": "maoruibin",
            "password": "123",
            "phone": "18682021295"
        }, function (res) {
            console.log(typeof res)
        })
    }

    function deleteUser() {
        $.ajax({
            url: '/api/user/3242',
            type: 'delete',
            data: {
                phone: "18682021295"
            }
        }, function (result) {

            console.log(result)
        })
    }

    function changeUser() {
        $.ajax({
            url: '/api/user',
            type: 'patch',
            data: {
                aid: '1',
                title: "34",
                content: "hello world , i love you "
            }
        }, function (result) {

            console.log(result)
        })
    }

    function queryUser() {
        $.ajax({
            url: '/api/user',
            type: 'get',
            data: {
                aid: 1
            }
        }, function (result) {

            console.log(result)
        })
    }

    function addArticle() {
        $.post('/api/article', {
            "title": "maoruibin",
            "tags": "234,856",
            "content": "18682021295"
        }, function (res) {
            console.log(typeof res)
        })
    }

    function changeArticle() {
        $.ajax({
            url: '/api/article',
            type: 'patch',
            data: {
                aid: '1',
                title: "34",
                content: "hello world , i love you "
            }
        }, function (result) {

            console.log(result)
        })
    }
    function queryArticle() {
        $.ajax({
            url: '/api/article',
            type: 'get',
            data: {
                aid: 1
            }
        }, function (result) {

            console.log(result)
        })
    }

    function deleteArticle() {
        $.ajax({
            url: '/api/article/1',
            type: 'delete',
        }, function (result) {
            console.log(result)
        })

    }


    function addComment() {
        $.post('/api/comment', {
            "aid": 2,
            imgName: '34234',
            name: "mao",
            address: "宝马",
            content: "hello world , i am comment"
        }, function (res) {
            console.log(typeof res)
        })
    }

    function changeComment() {
        $.ajax({
            url: '/api/comments',
            type: 'patch',
            data: {
                aid: '2',
                cid: 9,
                content: "hello world , i love you222 "
            }
        }, function (result) {

            console.log(result)
        })
    }
    function queryComment() {
        $.ajax({
            url: '/api/comments',
            type: 'get',
            data: {
                aid: 2
            }
        }, function (result) {

            console.log(result)
        })
    }

    function deleteComment() {
        $.ajax({
            url: '/api/comments/2/11',
            type: 'delete',
        }, function (result) {
            console.log(result)
        })

    }


    function addDraft() {
        $.post('/api/draft', {
            "title": "maoruibin",
            "tags": "234,856",
            "content": "18682021295"
        }, function (res) {
            console.log(typeof res)
        })
    }

    function changeDraft() {
        $.ajax({
            url: '/api/draft',
            type: 'patch',
            data: {
                aid: '1',
                title: "34",
                content: "hello world , i love you "
            }
        }, function (result) {

            console.log(result)
        })
    }
    function queryDraft() {
        $.ajax({
            url: '/api/drafts',
            type: 'get',
            data: {

            }
        }, function (result) {

            console.log(result)
        })
    }

    function deleteDraft() {
        $.ajax({
            url: '/api/drafts/1',
            type: 'delete',
        }, function (result) {
            console.log(result)
        })

    }

</script>
</body>
</html>